body {
    font-family: Arial, sans-serif;
    margin: 25px;
}
h1 {
    text-align: center;
    font-weight:600;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.container input[type="number"],
.container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.container button {
    padding: 10px;
    margin: 5px;
    width: 30%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
